version: "3.8"

services:
  order-service:
    build: ../order
    container_name: order-service
    restart: on-failure

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/order_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

    ports:
      - "8082:8080"  

    depends_on:
      - postgres

    networks:
      - microservices-net
