apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
data:
  GF_AUTH_ANONYMOUS_ENABLED: "true"
  GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
  GF_AUTH_DISABLE_LOGIN_FORM: "true"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
data:
  datasources.yaml: |
    apiVersion: 1

    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: false

      - name: Tempo
        uid: tempo
        type: tempo
        access: proxy
        url: http://tempo:3200
        editable: false
        jsonData:
          httpMethod: GET
          serviceMap:
            datasourceUid: prometheus

      - name: Loki
        uid: loki
        type: loki
        access: proxy
        url: http://loki:3100
        editable: false
        jsonData:
          derivedFields:
            - name: traceId
              matcherRegex: '"traceId":"(\w+)"'
              datasourceUid: tempo
              url: '$${__value.raw}'

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:10.4.1
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: grafana-config
          volumeMounts:
            - name: grafana-datasource-volume
              mountPath: /etc/grafana/provisioning/datasources
      volumes:
        - name: grafana-datasource-volume
          configMap:
            name: grafana-datasources

---
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000