apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-ui-config
data:
  KAFKA_CLUSTERS_0_NAME: "local"
  KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "broker:9092"
  DYNAMIC_CONFIG_ENABLED: "true"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  labels:
    app: kafka-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: kafka-ui-config

---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
spec:
  type: ClusterIP
  selector:
    app: kafka-ui
  ports:
    - port: 8080
      targetPort: 8080