apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
data:
  KAFKA_NODE_ID: "1"
  KAFKA_PROCESS_ROLES: "broker,controller"

  KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
  KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://broker:9092"

  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"

  KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"

  KAFKA_CONTROLLER_QUORUM_VOTERS: "1@broker:9093"

  CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"

  KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
  KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
  KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
  

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: broker
  labels:
    app: broker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: broker
  template:
    metadata:
      labels:
        app: broker
    spec:
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.5.0

          ports:
            - containerPort: 9092
            - containerPort: 9093

          envFrom:
            - configMapRef:
                name: kafka-config
      
          volumeMounts:
            - name: kafka-storage
              mountPath: /var/lib/kafka/data

      volumes:
        - name: kafka-storage
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: broker
spec:
  type: ClusterIP
  selector:
    app: broker
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092

    - name: controller
      port: 9093
      targetPort: 9093