apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-configmap
data:
  prometheus.yml: |
    global:
      scrape_interval: 10s

    scrape_configs:

      - job_name: "api-gateway"
        metrics_path: "/actuator/prometheus"
        static_configs:
          - targets: ["api-gateway:9000"]
            labels:
              application: "api-gateway"

      - job_name: "order-service"
        metrics_path: "/actuator/prometheus"
        static_configs:
          - targets: ["order:8081"]
            labels:
              application: "order"

      - job_name: "inventory-service"
        metrics_path: "/actuator/prometheus"
        static_configs:
          - targets: ["inventory:8082"]
            labels:
              application: "inventory"

      - job_name: "product-service"
        metrics_path: "/actuator/prometheus"
        static_configs:
          - targets: ["product:8080"]
            labels:
              application: "product"

      - job_name: "notification-service"
        metrics_path: "/actuator/prometheus"
        static_configs:
          - targets: ["notification:8083"]
            labels:
              application: "notification"

      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  labels:
    app: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.49.1
          ports:
            - containerPort: 9090
          args:
            - --enable-feature=exemplar-storage
            - --config.file=/etc/prometheus/prometheus.yml
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-configmap

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  type: ClusterIP
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090