apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
data:
  tempo.yaml: |
    server:
      http_listen_port: 3200

    distributor:
      receivers:
        zipkin:
        otlp:
          protocols:
            http:
            grpc:

    storage:
      trace:
        backend: local
        local:
          path: /tmp/tempo/traces

    compactor:
      compaction:
        block_retention: 24h

    metrics_generator:
      storage:
        path: /tmp/tempo/generator

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: tempo-pv
spec:
  storageClassName: standard
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /tmp/tempo

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tempo-pvc
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempo
  labels:
    app: tempo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempo
  template:
    metadata:
      labels:
        app: tempo
    spec:
      containers:
        - name: tempo
          image: grafana/tempo:2.3.1
          args: ["-config.file=/etc/tempo.yaml"]

          ports:
            - containerPort: 3200
              name: tempo
            - containerPort: 9411
              name: zipkin

          volumeMounts:
            - name: tempo-config
              mountPath: /etc/tempo.yaml
              subPath: tempo.yaml

            - name: tempo-data
              mountPath: /tmp/tempo

      volumes:
        - name: tempo-config
          configMap:
            name: tempo-config

        - name: tempo-data
          persistentVolumeClaim:
            claimName: tempo-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: tempo
  labels:
    app: tempo
spec:
  type: ClusterIP
  selector:
    app: tempo
  ports:
    - name: tempo
      port: 3200
      targetPort: 3200

    - name: zipkin
      port: 9411
      targetPort: 9411