server:
  port: 8080
  shutdown: graceful

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: ${services.product.url}
              predicates:
                - Path=/api/product/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: ProductCircuitBreaker
                    fallbackUri: forward:/fallback/product

            - id: order-service
              uri: ${services.order.url}
              predicates:
                - Path=/api/order/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: OrderCircuitBreaker
                    fallbackUri: forward:/fallback/order

            - id: inventory-service
              uri: ${services.inventory.url}
              predicates:
                - Path=/api/inventory/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: InventoryCircuitBreaker
                    fallbackUri: forward:/fallback/inventory

            - id: product-api-docs
              uri: ${services.product.url}
              predicates:
                - Path=/aggregate/product-service/api-docs
              filters:
                - RewritePath=/aggregate/product-service/api-docs, /api-docs

            - id: order-api-docs
              uri: ${services.order.url}
              predicates:
                - Path=/aggregate/order-service/api-docs
              filters:
                - RewritePath=/aggregate/order-service/api-docs, /api-docs

            - id: inventory-api-docs
              uri: ${services.inventory.url}
              predicates:
                - Path=/aggregate/inventory-service/api-docs
              filters:
                - RewritePath=/aggregate/inventory-service/api-docs, /api-docs
                
          
          globalcors:
              cors-configurations:
                "[/**]":
                  allowedOrigins: "http://localhost:4200"
                  allowedMethods:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - OPTIONS
                    - PATCH
                  allowedHeaders: "*"
                  allowCredentials: true


springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Product Service
        url: /aggregate/product-service/api-docs
      - name: Order Service
        url: /aggregate/order-service/api-docs
      - name: Inventory Service
        url: /aggregate/inventory-service/api-docs
    disable-swagger-default-url: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.route: DEBUG
    org.springframework.cloud.gateway.handler: TRACE
