apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: inventory
  name: inventory
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
      - image: himanshukushwaha69/inventory:0.0.2-SNAPSHOT
        name: inventory
        ports:
        - containerPort: 8082
        env:
          - name: SPRING_DATASOURCE_URL
            valueFrom:
              configMapKeyRef:
                name: inventory-service-config
                key: SPRING_DATASOURCE_URL

          - name: SPRING_DATASOURCE_USERNAME
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: SPRING_DATASOURCE_USERNAME

          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: SPRING_DATASOURCE_PASSWORD

          - name: LOKI_URL
            valueFrom:
              configMapKeyRef:
                name: common-config
                key: LOKI_URL

          - name: TEMPO_URL
            valueFrom:
              configMapKeyRef:
                name: common-config
                key: TEMPO_URL
        
---
apiVersion: v1
kind: Service
metadata:
  name: inventory
spec:
  selector:
    app: inventory
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
      
      
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: inventory-service-config
data:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/inventory_db"
  
  
---
apiVersion: v1
data:
  SPRING_DATASOURCE_PASSWORD: cG9zdGdyZXM=
  SPRING_DATASOURCE_USERNAME: cG9zdGdyZXM=
kind: Secret
metadata:
  name: postgres-secret
