apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: order
  name: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - image: himanshukushwaha69/order:0.0.2-SNAPSHOT
        name: order
        ports:
        - containerPort: 8081
        
        env:
           - name: SPRING_DATASOURCE_URL
             valueFrom:
               configMapKeyRef:
                 name: order-service-config
                 key: SPRING_DATASOURCE_URL

           - name: SPRING_DATASOURCE_USERNAME
             valueFrom:
               secretKeyRef:
                 name: postgres-secret
                 key: SPRING_DATASOURCE_USERNAME

           - name: SPRING_DATASOURCE_PASSWORD
             valueFrom:
               secretKeyRef:
                 name: postgres-secret
                 key: SPRING_DATASOURCE_PASSWORD

           - name: LOKI_URL
             valueFrom:
               configMapKeyRef:
                 name: common-config
                 key: LOKI_URL
           - name: INVENTORY_SERVICE_URL
             valueFrom:
               configMapKeyRef:
                 key: INVENTORY_SERVICE_URL
                 name: common-config

           - name: TEMPO_URL
             valueFrom:
               configMapKeyRef:
                 name: common-config
                 key: TEMPO_URL
           - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
             valueFrom:
               configMapKeyRef:
                 key: SPRING_KAFKA_BOOTSTRAP_SERVERS
                 name: common-config
                 
           - name: SPRING_KAFKA_PRODUCER_PROPERTIES_SCHEMA_REGISTRY_URL
             valueFrom:
               configMapKeyRef:
                 key: SPRING_KAFKA_PRODUCER_PROPERTIES_SCHEMA_REGISTRY_URL
                 name: order-service-config
---
apiVersion: v1
kind: Service
metadata:
  name: order
spec:
  selector:
    app: order
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      
      
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: order-service-config
data:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/order_db"
  SPRING_KAFKA_PRODUCER_PROPERTIES_SCHEMA_REGISTRY_URL: "http://schema-registry.default.svc.cluster.local:8081"
    
---
apiVersion: v1
data:
  SPRING_DATASOURCE_PASSWORD: cG9zdGdyZXM=
  SPRING_DATASOURCE_USERNAME: cG9zdGdyZXM=
kind: Secret
metadata:
  name: postgres-secret
